name: brevity test
on:
  push:
    branches: [ main ]

jobs:
  build:
    name: brevity test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install 

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1       

      - name: test contracts
        uses: borales/actions-yarn@v4
        with:
          cmd: test

      - name: build contracts
        uses: borales/actions-yarn@v4
        with:
          cmd: build

      - name: compile and deploy contracts
        uses: borales/actions-yarn@v4
        with:
          cmd: anvil:deploy
        env:
          MNEMONIC: ${{ secrets.MNEMONIC }}
          TARGET_NETWORK: ${{ vars.TARGET_NETWORK }}
          INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}